<!DOCTYPE html>
<html>
<head>
  <title>Currency Conversion</title>
</head>
<body>
  <h1>Convert 1 <%= from_currency %> to <%= to_currency %></h1>
  <p>1 <%= from_currency %> is equal to <%= exchange_rate %> <%= to_currency %></p>
</body>
</html>
